<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158203404089-23t8ua1qkttldk2mkj6u344nele6787r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158203404089-23t8ua1qkttldk2mkj6u344nele6787r</string>
	<key>API_KEY</key>
	<string>AIzaSyAwTvh8ZpT0JT_Lt1KYhB859Q2SiJgVgeI</string>
	<key>GCM_SENDER_ID</key>
	<string>158203404089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awemeapp.SarmanFarms</string>
	<key>PROJECT_ID</key>
	<string>remindme-9768c</string>
	<key>STORAGE_BUCKET</key>
	<string>remindme-9768c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158203404089:ios:72c5fbe2429f4fb87f92e8</string>
</dict>
</plist>